.btn-flat {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

button {
  cursor: pointer;
}

.profile_photo {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile_pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.table th,
.table td {
  vertical-align: middle;
}

.eye-btn {
  position: relative;
}

.eye-btn i {
  position: absolute;
  bottom: 12px;
  right: 14px;
  cursor: pointer;
  font-size: 18px;
}

.admin-name {
  display: flex;
  align-items: center;
}

.admin-name > span {
  margin-right: 10px;
}

.admin-role {
  display: table;
  line-height: 0.8;
  color: #a3a3a3;
  font-size: 0.8em;
}

.img-preview {
  max-width: 150px;
  display: block;
  margin-bottom: 10px;
}

#icon {
  color: transparent;
}

#icon::selection {
  color: transparent;
}

.icon-container {
  background-color: #f3f3f3;
  padding: 20px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.icon-container p {
  padding: 0 0 5px 0;
  margin: 0;
  text-decoration: underline;
  font-weight: 600;
}

.icon-container i {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.icon {
  position: relative;
}

.icon input {
  color: transparent;
}

.icon i {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 18px;
}
.icon-view {
  font-size: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #099900;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #099900;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
